@media screen and (max-width:767px) {
    .header {
        width: 300px;
    }

    .footer {
        width: 300px;
    }

    .left {
        width: 100px;
    }
    
    .lefts {
        width: 125px;
    }

    .right1 {
        width: 75px;
    }

    .left3 {
        width: 200px;
    }
}


@media screen and (max-width: 479px) {
    .header {
        width: 150px;
        height: 100px;
    }

    .main {
        width: 150px;
        float: none;
    }

    .left {
        width: 150px;
        height: 100px;
    }
    .rights {
        float: none;
        width: 150px;
        display: flex;
        flex-direction: column;
    }

    .lefts {
        float: none;
        width: 150px;
        order: 2;
    }
    .right1 {
        width: 150px;
        height: 100px;
        order: 1;
    }
    .left3 {
        width: 150px;
    }
    .footer {
        width: 150px;
    }
}
